<!-- <h1>Welcome to the books page.</h1> -->
<ul style="list-style-type:None; line-height: 50px;">
<!--https://www.w3schools.com/tags/tag_ul.asp-->
<% books.forEach(s=> 
    { %>
        <li>
            <div class="wrapper">
                <a href="books/<%= s.isbn_13 %>">
                    <img src="/images/<%= s.isbn_13 %>.jpg" alt="img" width="" height=300px />
                </a>
                <div class="book_name">
                    <a href="books/<%= s.isbn_13 %>">
                        <h3><%= s.name %></h3>
                    </a>
                </div>
            </div>
        </li>

        <!-- <hr/> -->
    <% });  
%>
</ul>